<p style="color: green"><%= notice %></p>

<%= turbo_stream_from "todos" %>
<h1>Tasks</h1>
<%= render "tasks/form", task: Task.new %>


<%# <div id="tasks"> %>
  <%= turbo_frame_tag "tasks" do %>
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  <% end %>
  <%# </div> %>
